

body {
  background-color:teal;
  background-image:"favicon.png";
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;

}
.mainwrapper{
  background-image:url(favicon.png);
  background-repeat:no-repeat;
  background-position:top;
  background-size: cover;
  background-color:red;
  height:100%;
  width:100%;
  position:relative;
  color:white;
  text-align:center;}

a{
  color:inherit;
}
a:hover{
  color:black;
}
img{
  height:auto;
width:100%;}



.personal-info{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%)  translateY(50%);
}
